canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#score-table {
    font-family: Arial;
    top: 0;
    text-align: center;
}